:root{
    --primary: #006699;
    --secondary: #007DBD;
    --light: #FFFFFF;
}

body{
    overflow: hidden;
    font-weight: 300;
    color: var(--primary);
}

a:link{
    text-decoration:none
}

.bg-primary{
    background-color: var(--primary) !important;
}

#sidebar-container{
    min-height: 100vh;
}

#sidebar-container .logo{
    padding: .875rem 1.25rem;
}

#sidebar-container .menu{
    width: 18rem;
}

#content{
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}